<!DOCTYPE HTML>
<html lang="pt-br">  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">    
    <link rel="shortcut icon" href="favicon.ico" />
    <title>
      Choose your Pokemon
    </title>
  </head>
  
  <body ng-app="PokedexApp">
  <!--Cloud-->
    <img class="cloud sml" ng-src="images/cloud_sml.png"
    width="70" height="36" />
    <img class="cloud med" ng-src="images/cloud_med.png"
    width="100" height="52" />
    <img class="cloud lrg" ng-src="images/cloud_lrg.png"
    width="130" height="67" />
    <img class="cloud lrg" ng-src="images/cloud_lrg.png"
    width="130" height="67" />
    <img class="cloud lrg" ng-src="images/cloud_lrg.png"
    width="130" height="67" />
   <!--Cloud-->
    <div class="container-fluid">
      <main>
        <ng-view></ng-view>
      </main>
    </div>
    <div class="container" id="style-6" ng-controller="MainController">
      <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="pokemon in allpokemon | orderBy: 'number'">
          	<a ng-href="#/number/{{pokemon.number}}" class="thumbnail">
				<img ng-src="http://pokeapi.co/media/img/{{pokemon.number}}.png">
				<span><center>#{{pokemon.number}} {{pokemon.name | uppercase}}</center></span>
			</a>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </body>

</html>
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<script type="text/javascript"src="js/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
<!-- Firebase -->
<script src="js/firebase/firebase.js"></script>
<script src="js/angularjs/angularfire.min.js"></script>