<div class="on-screen container">
  <section class="text-center basic-info">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="col-xs-6 col-md-3 ng-scope">
           <a ng-href="#" class="thumbnail" href="#">
			      <img class="center-block" ng-src="{{pokeSprite}}">			      
			     </a>
          </div>
          <h2>
            <strong>
              {{pokemon.name | uppercase}}
            </strong>
          </h2>
          <h3>
            <strong>
              Description:
            </strong>
            {{pokeDes}}
          </h3>
          <small>
            {{pokemon.species}}
          </small>
        </div>
      </div>
    </div>
    <div class="container" ng-init="selectTab='tab1'" ng-switch>
      <ul class="tab-header">
        <li ng-class="{active: selectTab=='tab1'}" ng-click="selectTab='tab1'">
          Information
        </li>
        <li ng-class="{active: selectTab=='tab2'}" ng-click="selectTab='tab2'">
          Moves
        </li>
        <li ng-class="{active: selectTab=='tab3'}" ng-click="selectTab='tab3'">
          Leave a Comment
        </li>
        <li ng-class="{active: selectTab=='tab4'}" ng-click="selectTab='tab4'">
          Show all Comments
        </li>
      </ul>
      <div ng-switch on="selectTab">
        <div class="tab-content" ng-switch-when="tab1">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <section>
                          <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                            role="progressbar" aria-valuenow=" {{pokemon.attack}}" aria-valuemin="0"
                            aria-valuemax="100" style="width:{{pokemon.attack}}%">
                              <strong>
                                Attack: {{pokemon.attack}}
                              </strong>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                            role="progressbar" aria-valuenow="{{pokemon.defense}}" aria-valuemin="0"
                            aria-valuemax="100" style="width:{{pokemon.defense}}%">
                              <strong>
                                Defense: {{pokemon.defense}}
                              </strong>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active"
                            role="progressbar" aria-valuenow="{{pokemon.height}}" aria-valuemin="0"
                            aria-valuemax="100" style="width:{{pokemon.height}}%">
                              <strong>
                                Height: {{pokemon.height}} meters
                              </strong>
                            </div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active"
                            role="progressbar" aria-valuenow="{{pokemon.weight}}" aria-valuemin="0"
                            aria-valuemax="100" style="width:{{pokemon.weight}}%">
                              <strong>
                                Weight: {{pokemon.weight}} grams
                              </strong>
                            </div>
                          </div>
                        </section>
                      </div>
                      <div class="panel-footer">
                        <section id="poke-type" ng-repeat="type in pokemon.types">
                          <b>
                            Type:
                          </b>
                          {{type.name}}
                        </section>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <section id="evolution" ng-repeat="evolution in pokemon.evolutions">
                          <b>
                            Evolves Into:
                          </b>
                          {{evolution.to}}
                          </br>
                          <b>
                            Evolution Method: {{evolution.method}} {{evolution.level}}
                          </b>
                        </section>
                      </div>
                      <div class="panel-footer">
                        <section id="egg-groups" ng-repeat="group in pokemon.egg_groups">
                          <b>
                            Egg Group:
                          </b>
                          {{group.name}}
                        </section>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <ul class="list-group">
                          <li ng-repeat="ability in pokemon.abilities" class="list-group-item" ng-click="getData(ability.resource_uri)">
                            {{ability.name}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content" ng-switch-when="tab2">
          <div class="container-fluid" id="style-15" style="height: 150px; margin-bottom: 20px; overflow: auto;">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <section id="moves">
                      <ul class="list-group">
                        <li ng-repeat="move in pokemon.moves" class="list-group-item" ng-click="getData(move.resource_uri)">
                          <span class="pull-left">
                            {{move.name}}
                          </span>
                          {{move.learn_type}} {{move.level}}
                        </li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content" ng-switch-when="tab3" ng-controller="AddPostCtrl">
          <form class="form-horizontal" ng-submit="AddPost()">
            <div class="alert alert-success" ng-show="success">
              <button class="close" data-dismiss="alert">
                x
              </button>
              <strong>
                Success!
              </strong>
              Your message was successfully sent.
            </div>
            <!-- Form Name -->
            <legend>
              Create a Comment
            </legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="txtName">
                Name
              </label>
              <div class="col-md-4">
                <input id="txtName" name="txtName" ng-model="post.name" type="text" placeholder="Your Name"
                class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="txtEmail">
                E-mail
              </label>
              <div class="col-md-4">
                <input id="txtEmail" name="txtEmail" ng-model="post.email" type="email"
                placeholder="youremail@yourdomain.com" class="form-control input-md" required>
              </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="txtComment">
                Comment
              </label>
              <div class="col-md-4">
                <textarea class="form-control" id="txtComment" ng-model="post.comment"
                name="txtComment">
                </textarea>
              </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">
              </label>
              <div class="col-md-4">
                <input id="singlebutton" ng-disabled="!post.name || !post.email || !post.comment"
                name="singlebutton" class="btn btn-primary" type="submit" value="Publish"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="tab-content" ng-switch-when="tab4" ng-controller="showCommentsCtrl"
        style="height: 150px; margin-bottom: 20px; overflow: auto;" id="style-5">
          <div class="container-fluid">
            <div class="row" ng-repeat="x in names">
              <div class="col-md-12">
                <blockquote>
                  <p>
                    {{ x.comment}}
                  </p>
                  <small>
                    {{ x.name}}
                    <cite>
                      ({{ x.email}})
                    </cite>
                  </small>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>